.contact-container {
    padding: 40px;
    background-color: #f9f9f9;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.contact-container form {
    display: flex;
    flex-direction: column;
}

.contact-container input,
.contact-container textarea {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s ease;
}

.contact-container input:focus,
.contact-container textarea:focus {
    border: 1px solid #007BFF; /* Highlight on focus */
}

.contact-container button {
    padding: 15px;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-container button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
